{{- if .Values.externalSecrets.enabled }}
{{- /* External Secrets Operator integration */}}
{{- if .Values.externalSecrets.operator.enabled }}
{{- if .Values.secrets.create }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "neurondb.fullname" . }}-external-secrets
  labels:
    {{- include "neurondb.labels" . | nindent 4 }}
spec:
  refreshInterval: {{ .Values.externalSecrets.operator.refreshInterval | default "1h" }}
  secretStoreRef:
    name: {{ .Values.externalSecrets.operator.secretStoreRef.name | default "default" }}
    kind: {{ .Values.externalSecrets.operator.secretStoreRef.kind | default "SecretStore" }}
  target:
    name: {{ include "neurondb.fullname" . }}-secrets
    creationPolicy: {{ .Values.externalSecrets.operator.target.creationPolicy | default "Owner" }}
    template:
      type: Opaque
      data:
        postgres-password: "{{ .Values.externalSecrets.operator.secrets.postgresPassword.key | default "postgres-password" }}"
        {{- if .Values.secrets.agentApiKeys }}
        agent-api-keys: "{{ .Values.externalSecrets.operator.secrets.agentApiKeys.key | default "agent-api-keys" }}"
        {{- end }}
  data:
  - secretKey: {{ .Values.externalSecrets.operator.secrets.postgresPassword.key | default "postgres-password" }}
    remoteRef:
      key: {{ .Values.externalSecrets.operator.secrets.postgresPassword.remoteRef.key }}
      {{- if .Values.externalSecrets.operator.secrets.postgresPassword.remoteRef.property }}
      property: {{ .Values.externalSecrets.operator.secrets.postgresPassword.remoteRef.property }}
      {{- end }}
  {{- if .Values.secrets.agentApiKeys }}
  - secretKey: {{ .Values.externalSecrets.operator.secrets.agentApiKeys.key | default "agent-api-keys" }}
    remoteRef:
      key: {{ .Values.externalSecrets.operator.secrets.agentApiKeys.remoteRef.key }}
      {{- if .Values.externalSecrets.operator.secrets.agentApiKeys.remoteRef.property }}
      property: {{ .Values.externalSecrets.operator.secrets.agentApiKeys.remoteRef.property }}
      {{- end }}
  {{- end }}
{{- end }}

{{- if and .Values.neurondb.postgresql.external.enabled .Values.neurondb.postgresql.external.secretName }}
{{- /* External secret for external PostgreSQL connection */}}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .Values.neurondb.postgresql.external.secretName }}-external
  labels:
    {{- include "neurondb.labels" . | nindent 4 }}
spec:
  refreshInterval: {{ .Values.externalSecrets.operator.refreshInterval | default "1h" }}
  secretStoreRef:
    name: {{ .Values.externalSecrets.operator.secretStoreRef.name | default "default" }}
    kind: {{ .Values.externalSecrets.operator.secretStoreRef.kind | default "SecretStore" }}
  target:
    name: {{ .Values.neurondb.postgresql.external.secretName }}
    creationPolicy: {{ .Values.externalSecrets.operator.target.creationPolicy | default "Owner" }}
  data:
  {{- range .Values.externalSecrets.operator.externalPostgresSecrets }}
  - secretKey: {{ .key }}
    remoteRef:
      key: {{ .remoteRef.key }}
      {{- if .remoteRef.property }}
      property: {{ .remoteRef.property }}
      {{- end }}
  {{- end }}
{{- end }}
{{- end }}

{{- /* CSI Secrets Store Driver integration */}}
{{- if .Values.externalSecrets.csi.enabled }}
{{- /* Note: CSI Secrets Store requires volume mounts in pod specs */}}
{{- /* This is a reference implementation - actual volume mounts should be added to deployment templates */}}
---
apiVersion: v1
kind: SecretProviderClass
metadata:
  name: {{ include "neurondb.fullname" . }}-csi-secrets
  labels:
    {{- include "neurondb.labels" . | nindent 4 }}
spec:
  provider: {{ .Values.externalSecrets.csi.provider | default "aws" }}
  parameters:
    {{- if eq (.Values.externalSecrets.csi.provider | default "aws") "aws" }}
    objects: |
      - objectName: {{ .Values.externalSecrets.csi.aws.secretName | default "neurondb/postgres-password" }}
        objectType: "secretsmanager"
        jmesPath:
          - path: password
            objectAlias: postgres-password
    region: {{ .Values.externalSecrets.csi.aws.region | default "us-east-1" }}
    {{- else if eq .Values.externalSecrets.csi.provider "azure" }}
    keyvaultName: {{ .Values.externalSecrets.csi.azure.keyVaultName }}
    objects: |
      - objectName: {{ .Values.externalSecrets.csi.azure.secretName | default "postgres-password" }}
        objectType: secret
    tenantId: {{ .Values.externalSecrets.csi.azure.tenantId }}
    {{- else if eq .Values.externalSecrets.csi.provider "gcp" }}
    secrets: |
      - resourceName: {{ .Values.externalSecrets.csi.gcp.secretName | default "projects/PROJECT_ID/secrets/postgres-password" }}
    {{- end }}
  secretObjects:
  - secretName: {{ include "neurondb.fullname" . }}-secrets
    type: Opaque
    data:
    - objectName: postgres-password
      key: postgres-password
{{- end }}
{{- end }}

