{{- if and .Values.monitoring.enabled .Values.monitoring.grafana.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "neurondb.fullname" . }}-grafana-datasources
  labels:
    {{- include "neurondb.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
data:
  prometheus.yml: |
    apiVersion: 1
    
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://{{ include "neurondb.fullname" . }}-prometheus:9090
        isDefault: true
        editable: true

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "neurondb.fullname" . }}-grafana-dashboards
  labels:
    {{- include "neurondb.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
data:
  default.yml: |
    apiVersion: 1
    
    providers:
      - name: 'Default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards
{{- end }}

