{{- if .Values.neuronmcp.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "neurondb.neuronmcp.serviceName" . }}
  labels:
    {{- include "neurondb.neuronmcp.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "neurondb.neuronmcp.selectorLabels" . | nindent 4 }}
{{- end }}

